@{
    ViewData["Title"] = "Land Listing";
}

    <div>
            <img src="" title="Land main image"/>
            <h1>@Model.Title</h1>
            <p>@Model.Location</p>
            <p>Post created on: @Model.CreatedTime.Date</p>
            <p>Date Available: @Model.AvailableDate</p>
            <p>House Size: @Model.LotSize</p>
            <p>Foundation Size: @Model.FoundationSize</p>
        </div>
