@model UserListingsViewModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="flex flex-col text-center pb-6">
    <h1 class="text-xl">Listings Dashboard</h1>   
</div>


<div class="flex flex-col items-center">
    <!-- Seeker Listing Title Bar -->
    <div class="flex flex-row my-4 py-3 w-full items-center border border-1 border-green-700 rounded-md text-white bg-green-700">
        <h1 class="text-xl font-semibold mx-4">Seeker Listing</h1>
        @if (Model.SeekerListing is null)
        {
            <a asp-controller="Seeker" asp-action="CreateListing" class="ml-auto mr-3 px-4 py-1 text-white bg-green-700 rounded-sm shadow-md border border-1 border-white duration-300 hover:bg-green-800">
                <i class="fa-regular fa-square-plus"></i>
                <span>Create Seeker Listing</span>
            </a>
        }
    </div>

    <!-- Seeker Listing Card (Single Listing)-->
    <div class="flex flex-col p-4 w-full lg:flex-row sm:max-w-4xl border border-gray-50 shadow-md">
        @if(Model.SeekerListing is not null)
        {
            <!-- Display main image -->
            @if (Model.SeekerListing.ImageSrc is not null)
            {
                <img src="@Model.SeekerListing.ImageSrc" class="mx-auto md:mx-2 w-60 border border-gray-200 bg-green-100" title="land main image" />

            }
            else
            {
                <img src="~/img/placeholder-image.png" class="mx-auto w-60 border border-gray-200 bg-green-100" title="land main image" />
            }
            
            <!-- Seeker Listing Details & Buttons-->
            <div class="flex flex-col w-full md:ml-2">
                <div class="">
                    <h1><a asp-controller="seeker" asp-action="listing" asp-route-id="@Model.SeekerListing.Id" class="text-lg font-semibold line-clamp-2">@Model.SeekerListing.Title.FirstCharToUpper() &centerdot; @Model.SeekerListing.Id</a></h1>
                    <p class="text-sm">@Model.SeekerListing.Location, @Model.SeekerListing.State, @Model.SeekerListing.Country</p>
                    <p class="text-sm">Created: @Model.SeekerListing.CreatedTime.Date.ToString("MMM dd yyyy") &centerdot; Modified: @Model.SeekerListing.ModifiedTime.Date.ToString("MMM dd yyyy")</p>
                </div>
                
                <!-- Seeker Listing Status area TODO: Refactor-->
                <div class="flex flex-col  my-2 text-sm mx-auto lg:mx-0 lg:flex-row lg:space-x-6">
                    @if (Model.SeekerListing.Status == "Edited Draft")
                    {
                        <div>
                            <i class="fa-solid fa-circle-check text-yellow-500"></i>
                            <span>Edited Draft</span>
                        </div>
                    }
                    else if (Model.SeekerListing.Status == "Submitted")
                    {
                        @*<div>
                <i class="fa-solid fa-circle-check text-yellow-500"></i>
                <span>Pending Approval</span>
                </div>*@
                    }
                    else if (Model.SeekerListing.Status.StartsWith("Rejected"))
                    {
                        <div>
                            <i class="fa-sharp fa-solid fa-circle-exclamation text-yellow-500"></i>
                            <span>Rejected, please revise</span>
                        </div>
                    }

                    @if (Model.SeekerListing.Submitted)
                    {
                        <div>
                            <i class="fa-solid fa-circle-check text-green-500"></i>
                            <span>Submitted</span>
                        </div>
                    }
                    else
                    {
                        <div>
                            <i class="fa-sharp fa-solid fa-circle-exclamation text-yellow-500"></i>
                            <span>Pending Submission</span>
                        </div>
                    }
                    @if (Model.SeekerListing.Approved)
                    {
                        <div>
                            <i class="fa-solid fa-circle-check text-green-500"></i>
                            <span>Approved</span>
                        </div>
                    }
                    else
                    {
                        <div>
                            <i class="fa-sharp fa-solid fa-circle-exclamation text-yellow-500"></i>
                            <span>Not Yet Approved</span>
                        </div>
                    }

                    @if (Model.SeekerListing.Status == "Posted")
                    {
                        <div>
                            <i class="fa-solid fa-circle-check text-green-500"></i>
                            <span>Posted</span>
                        </div>
                    }
                </div>
                <div class="grow"> </div>
                <!-- Seeker Listing EDIT & DELETE BUTTONS -->
                <div class="flex  lg:ml-auto flex-col lg:flex-row items-center">
                    
                    @if(Model.SeekerListing.Submitted is false)
                    {
                        <a asp-controller="Seeker" asp-action="SubmitApproval" asp-route-Id=@Model.SeekerListing.Id class="m-2 px-6 py-1 text-white bg-green-700 shadow-md rounded-sm duration-300 hover:bg-green-800">
                            <span>Submit for Approval</span>
                        </a> 
                    }
                    else
                    {
                        @*if(Model.SeekerListing.Approved is false)
                        {
                        <button type="button" class="m-2 px-4 py-2 text-white bg-green-700 shadow-md rounded-sm duration-300 hover:bg-green-800" disabled>Submit for Approval2</button>
                        }*@
                    }
                   
                    <a asp-controller="Seeker" asp-action="EditListing" asp-route-Id=@Model.SeekerListing.Id class="m-2 px-6 py-1 text-white bg-yellow-500 shadow-md rounded-sm duration-300 hover:bg-yellow-600">
                        <i class="fa-regular fa-pen-to-square"></i>
                        <span>Edit</span>
                    </a>
                    <a asp-controller="Seeker" asp-action="DeleteListing" asp-route-Id=@Model.SeekerListing.Id class="m-2 px-6 py-1 text-white bg-red-700 shadow-md  rounded-sm duration-300 hover:bg-red-800">
                        <i class="fa-solid fa-trash-can"></i>
                        <span>Delete</span>
                    </a>
                    </div>
                    
            </div>
        }
        else
        {
                <p>There is no seeker listing to show</p>
        }
    </div>


    <!-- Land Listing Divider-->
    <div class="flex flex-row my-4 py-3 w-full items-center border border-1 border-green-700 rounded-md text-white bg-green-700">
        <h1 class="text-xl font-semibold mx-4">Land Listings</h1>
        <a asp-controller="Land" asp-action="CreateListing" class="ml-auto mr-3 px-4 py-1 text-white bg-green-700 rounded-sm shadow-md border border-1 border-white duration-300 hover:bg-green-800">
            <i class="fa-regular fa-square-plus pr-2"></i>
            <span>Create Land Listing</span>
        </a>
    </div>
    <!-- Loop through all users land listings and show cards -->
    @if(Model.LandListings.Any() is true)
    {
        <div class="flex flex-col w-full items-center">
            @foreach(var landListing in Model.LandListings)
            {
                <!-- Land Listing Card -->
                <div class="flex flex-col my-2 p-4 w-full lg:flex-row sm:max-w-4xl border border-gray-50 shadow-md">
                    <!-- Display main image-->
                    @if(landListing.ImageSrc is not null)
                    {
                        <img src="@landListing.ImageSrc" class="mx-auto w-60 border border-gray-200 bg-green-100" title="land main image" />
                            
                    }else
                    {
                        <img src="~/img/placeholder-image.png" class="mx-auto w-60 border border-gray-200 bg-green-100" title="land main image" />
                    }

                    <!-- Land Listing Details-->
                    <div class="flex flex-col w-full md:ml-4">
                        <div>
                            <a asp-controller="land" asp-action="listing" asp-route-id="@landListing.Id" class="text-lg font-semibold line-clamp-2">@landListing.Title.FirstCharToUpper()</a>
                            <p class="text-md font-semibold">$@landListing.Price.ToString("N0")</p>
                            <p class="text-sm">@landListing.Location, @landListing.State, @landListing.Country</p>
                            <p class="text-sm">@landListing.CreatedTime.Date.ToString("MMM dd yyyy") &centerdot; Modified: @landListing.ModifiedTime.Date.ToString("MMM dd yyyy")</p>
                        </div>

                        <!-- Land Listing Status area TODO: Refactor -->
                        <div class="flex flex-col  my-2 text-sm mx-auto lg:mx-0 lg:flex-row lg:space-x-6">
                            @if (landListing.Status == "Edited Draft")
                            {
                                <div>
                                    <i class="fa-solid fa-circle-check text-yellow-500"></i>
                                    <span>Edited Draft</span>
                                </div>
                            }
                            else if (landListing.Status == "Submitted")
                            {
                                @*<div>
                                    <i class="fa-solid fa-circle-check text-yellow-500"></i>
                                    <span>Pending Approval</span>
                                </div>*@
                            }else if(landListing.Status.StartsWith("Rejected"))
                            {
                                    <div>
                                    <i class="fa-sharp fa-solid fa-circle-exclamation text-yellow-500"></i>
                                    <span>Rejected, please revise</span>
                                </div>
                            }

                            @if (landListing.Submitted)
                            {
                                <div>
                                    <i class="fa-solid fa-circle-check text-green-500"></i>
                                    <span>Submitted</span>
                                </div>
                            }
                            else
                            {
                                <div>
                                    <i class="fa-sharp fa-solid fa-circle-exclamation text-yellow-500"></i>
                                    <span>Pending Submission</span>
                                </div>
                            }
                            @if (landListing.Approved)
                            {
                                <div>
                                    <i class="fa-solid fa-circle-check text-green-500"></i>
                                    <span>Approved</span>
                                </div>
                            }
                            else
                            {
                                <div>
                                    <i class="fa-sharp fa-solid fa-circle-exclamation text-yellow-500"></i>
                                    <span>Not Yet Approved</span>
                                </div>
                            }

                            @if (landListing.Status == "Posted")
                            {
                                <div>
                                    <i class="fa-solid fa-circle-check text-green-500"></i>
                                    <span>Posted</span>
                                </div>
                            }
                        </div>
                        <div class="grow"> </div>
                        <!-- Land Listing EDIT & DELETE BUTTONS -->
                        <div class="flex  lg:ml-auto flex-col lg:flex-row items-center">
                            @if (landListing.Submitted is false && landListing.Approved is false)
                            {
                                @Html.ActionLink("Submit for Approval",
                                                    "SubmitApproval",
                                                    "Land",
                                                    new { landListing.Id },
                                                    new { @class = " m-2 px-4 py-2 text-white bg-green-700 shadow-md rounded-sm duration-300 hover:bg-green-800"})
                            }
                            else
                            {
                                if (landListing.Approved is false && landListing.Status.StartsWith("Rejected"))
                                {
                                    <button type="button" class=" m-2 px-4 py-2 text-white bg-green-700 shadow-md rounded-sm duration-300 hover:bg-green-800" disabled>Submit for Approval</button>
                                }
                            }

                            <a asp-controller="Land" asp-action="EditListing" asp-route-Id=@landListing.Id class="m-2 px-6 py-1 text-white bg-yellow-500 shadow-md rounded-sm duration-300 hover:bg-yellow-600">
                                <i class="fa-regular fa-pen-to-square"></i>
                                <span>Edit</span>
                            </a>
                            <a asp-controller="Land" asp-action="DeleteListing" asp-route-Id=@landListing.Id class="m-2 px-6 py-1 text-white bg-red-700 shadow-md  rounded-sm duration-300 hover:bg-red-800">
                                <i class="fa-solid fa-trash-can"></i>
                                <span>Delete</span>
                            </a>
                        </div>
                    </div>
                </div> 
            }
        </div>
    }
    else
    {
        <div>
            <p>There are no land listings to show</p>
        </div>
    }

</div>



