@model UserListingsViewModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Dashboard</h1>
    <br />
    @if (Model.SeekerListing is null)
    {
        <P>
            @Html.ActionLink("Create Seeker Listing", "createlisting", "seeker")
        </P>
    }
    <P>
        @Html.ActionLink("Create Land Listing", "createlisting", "Land")
    </P>
</div>


<div class="text-center">
    <h1 class="display-4">Your Listings</h1>
    <p>View your listings below</p>

    @if(Model.SeekerListing is not null)
    {
        <div>
            <h3>Seeker Listing</h3>
            <img src="" title="seeker main image"/>
            <h4><a asp-controller="seeker" asp-action="listing" asp-route-id="@Model.SeekerListing.Id" >@Model.SeekerListing.Title</a></h4>
            <p>@Model.SeekerListing.Id</p>
            <p>@Model.SeekerListing.CreatedTime.Date</p>
            <p>@Model.SeekerListing.Status</p>
            <p>Submitted: @Model.SeekerListing.Submitted</p>
            <p>Approved: @Model.SeekerListing.Approved</p>

            @Html.ActionLink("Edit", 
                              "EditListing", 
                              "Seeker", 
                              new{ Model.SeekerListing.Id}, 
                              new{ @class="btn btn-info"})
            @Html.ActionLink("Submit for Approval", 
                              "SubmitApproval", 
                              "Seeker", 
                              new{ Model.SeekerListing.Id}, 
                              new{ @class="btn btn-warning"})
            @Html.ActionLink("Delete", 
                              "DeleteListing", 
                              "Seeker", 
                              new{ Model.SeekerListing.Id}, 
                              new{ @class="btn btn-danger"})
                
            
        </div>
    }
    else
    {
        <div>
            <p>There is no seeker listing to show</p>
        </div>
    }

    @if(Model.LandListings.Any() is true)
    {
        <div>
            <h3>Land Listings</h3>
            <p>loop land listings and show here</p>
            @foreach(var landListing in Model.LandListings)
            {
                <div>
                    <img src="" title="land main image"/>
                    <h4><a asp-controller="land" asp-action="listing" asp-route-id="@landListing.Id" >@landListing.Title</a></h4>
                    <p>@landListing.CreatedTime.Date</p>
                    <p>@landListing.Status</p>
                </div>
            }
        </div>
    }
    else
    {
        <div>
            <p>There are no land listings to show</p>
        </div>
    }

</div>



