@inject SignInManager<UserEntity> signInManager;
@inject UserManager<UserEntity> userManager;

    @{
        var userId = @userManager.GetUserId(User);
    }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TinyHouseLandshare</title>
    <!--=============== BOXICONS ===============-->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet' />
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/TinyHouseLandshare.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="javascrtip" href="~/js//site.js" />
    <script src="https://kit.fontawesome.com/c295d27c9d.js" crossorigin="anonymous"></script>
</head>
<body class="h-[100vh] flex  flex-col">
    <header class="bg-white shadow-md" id="header">
        <!-- Navbar -->
        <nav class="relative container mx-auto px-6 py-3">
            <!-- Flex container -->
            <div class="flex items-center justify-between">
                <!-- Nav Logo -->
                <a class="text-xl text-bold mx-5 hover:duration-300 hover:text-green-700" asp-area="" asp-controller="Home" asp-action="Index">Tiny House<br />Land Share</a>
                <!-- Menu Items -->
                <div class="hidden space-x-6 pl-10 mr-auto md:flex">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="header-nav-link">Home</a>
                    <a asp-area="" asp-controller="Sale" asp-action="Index" class="header-nav-link">For Sale</a>
                    <a asp-area="" asp-controller="Home" asp-action="Contact" class="header-nav-link">Contact</a>
                </div>

                <!-- Login & Links -->
                <div class="relative flex flex-col  items-end">
                    @if (signInManager.IsSignedIn(User))
                    {
                        <div class="flex flex-row align-middle">
                            <a class="my-auto" asp-area="" asp-controller="Account" asp-action="Dashboard">
                                <span > Welcome, @User.Identity.Name</span>
                            </a>
                            <button id="menu-button" class="hidden sm:flex w-10 h-10 ml-2 my-auto text-white font-semibold bg-green-700 rounded-sm hover:bg-green-800 duration-300 shadow-md"><i class="bx bx-user m-auto"></i></button>
                        </div>
                        <div id="user-menu" class="absolute hidden max-w-[80%] z-10 top-[calc(100%+.25rem)] flex flex-col rounded-sm duration-300 shadow-md p-4 bg-white">
                            
                                <a class="text-center px-4 py-2 bg-white border border-white hover:border-green-700 hover:text-green-700" asp-area="" asp-controller="Account" asp-action="Dashboard">Dashboard</a>
                                @Html.ActionLink("Inbox", "Inbox", "Message", new { userId = userId }, new { @class="text-center px-4 py-2 bg-white border border-white hover:border-green-700 hover:text-green-700"})
                                <a class="text-center px-4 py-2 bg-white border border-white hover:border-green-700 hover:text-green-700" asp-area="" asp-controller="Account" asp-action="Profile">Profile</a>
                                <form method="post" asp-action="Logout" asp-controller="Account" class="flex">
                                    @*<button type="submit" class="bg-blue-500">Logout</button>*@
                                    <a onclick="this.parentNode.submit()" class="w-full text-center !text-black hover:!text-green-700 cursor-pointer px-4 py-2 bg-white border border-white hover:border-green-700 hover:text-green-700">Logout</a>
                                </form>
                            
                        </div>

                    }
                    else
                    {
                        <a asp-area="" asp-controller="Account" asp-action="Login" class="px-4 py-2 text-white rounded-sm bg-green-700 hover:bg-green-800 drop-shadow-sm hover:drop-shadow-md hover:duration-300">Login</a>
                    }
                </div>

            </div>
        </nav>  
            <!-- BASE NAV: Features links & Search box -->
            <div class="bg-green-700 drop-shadow-md z-0">
                <div class="container mx-auto py-1 md:py-2 px-6">
                    <div class="flex flex-col items-center md:flex-row md:justify-left">
                        @Html.ActionLink("Seeker Listings", "index", "Seeker", null , new { @class="px-4 py-2 text-white rounded-sm border border-green-700 hover:duration-300 hover:border-white"})
                        @Html.ActionLink("Land Listings", "index", "Land", null , new { @class="px-4 py-2 text-white rounded-sm border border-green-700 hover:duration-300 hover:border-white"})
                        @Html.ActionLink("Search Home Owners", "search", "Seeker", null , new { @class="px-4 py-2 text-white rounded-sm border border-green-700 hover:duration-300 hover:border-white"})
                        @Html.ActionLink("Search Land", "search", "Land", null , new { @class="px-4 py-2 text-white rounded-sm border border-green-700 hover:duration-300 hover:border-white active:border-white"})

                        @*<a href="#" class="px-4 py-2 bg-green-700 text-white">
                        Search <i class="bx bx-search nav__icon"></i>
                        </a>*@
                    </div>
                </div>
            </div>
    </header>

  
   
    <!-- User Features & Links -->
    <div class="container mx-auto px-6 py-6">
        @if (User.IsInRole("Admin"))
        {
            <div>
                @Html.ActionLink("Administrator Dahsboard", "Dashboard", "Admin", null , new { @class=""})
            </div>
            <div>
                @Html.ActionLink("Approve Listings", "ApproveListing", "Admin", null , new { @class=""})
            </div>
        }
        @if (signInManager.IsSignedIn(User))
        {
            <div>
                @Html.ActionLink("Dashboard/Your Listings", "Dashboard", "Account", null , new { @class=""})
            </div>
            <div>
                @Html.ActionLink("Message Inbox", "Inbox", "Message", new { userId = userId }, new { @class=""})
            </div>
        }
    </div>

    <!-- Main - Render body -->
    <div class="container mx-auto px-6 py-10">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->

    <footer class="mt-auto bg-green-700">
        <div class="container mx-auto px-6 py-10 justify-center flex text-white">
            <span>&copy; 2022 - TinyHouseLandshare - <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></span>
        </div>
    </footer>

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
