@model IEnumerable<SeekerPost>
@{
    ViewData["Title"] = "Seeker Listings";
}

<div class="text-center">
    <h1 class="display-4">Seeker Listings</h1>
    <p>See all Seeker listings in North America.</p>

    @foreach(var post in Model)
    {
        <div>
            <img src="" title="seeker main image"/>
            <p>Id: @post.Id</p>
            <h1>@post.Title</h1>
            <p>@post.Location</p>
            <p>Post created on: @post.CreatedTime.Date</p>
            <p>House Size: @post.HouseSize</p>
            <p>Number Occupants: @post.OccupantCount </p>
            <p>@post.Details</p>
            <p>Water Connection Required: @post.WaterConnectionRequired</p>
            <p>Electrical Connection Required: @post.ElectricalConnectionRequired</p>
            <p>Internet/Wifi Connecterion Required: @post.WifiConnectionRequired</p>
            <p>Parking Required: @post.ParkingRequired</p>
            <p>Child Friendly: @post.ChildFriendlyRequired</p>
            <p>Pet Friendly: @post.PetsRequired</p>
            <p>Smoking: @post.Smoker</p>
            <p>Privacy: @post.Privacy</p>
        </div>
    }
</div>
