@model IEnumerable<SeekerListing>
@{
    ViewData["Title"] = "Seeker Listings";
}

<div class="text-center">
    <h1 class="display-4">Seeker Listings</h1>
    <p>See all Seeker listings in North America.</p>

    @foreach(var listing in Model)
    {
        <div>
            <img src="" title="seeker main image"/>
            <h1><a asp-controller="seeker" asp-action="listing" asp-route-id="@listing.Id" >@listing.Title</a></h1>
            <p>@listing.Id</p>
            <p>@listing.Location</p>
            <p>Post created on: @listing.CreatedTime.Date</p>
            <p>House Size: @listing.HouseSize</p>
        </div>
    }
</div>
