@model IEnumerable<SeekerListing>
@{
    ViewData["Title"] = "Seeker Listings";
}

<div class="text-center">
    <h1 class="display-4">Seeker Listings</h1>
    <p>See all Seeker listings in North America.</p>

    @foreach(var post in Model)
    {
        <div>
            <img src="" title="seeker main image"/>
            <h1><a asp-controller="seeker" asp-action="listing" asp-route-id="@post.Id" >@post.Title</a></h1>
            <p>@post.Location</p>
            <p>Post created on: @post.CreatedTime.Date</p>
            <p>House Size: @post.HouseSize</p>
        </div>
    }
</div>
