@model MessageInboxViewModel
@{
    ViewData["Title"] = "Inbox";
}

<h1>Inbox (@Model.UnreadMessageCount)</h1>

@foreach(var messageHead in Model.headMessages)
{
    <div>
        <h4>Listing Title: @messageHead.Title</h4>
        <p>Message Timestamp: @messageHead.TimeStamp.LocalDateTime.ToString("d")</p>
        <p>Sender: @messageHead.SenderName</p>
        <p>Read: @messageHead.IsViewed</p>
        <h5>Message:</h5>
        <p>@messageHead.Value</p>
    </div>
}