@model MessageInboxViewModel
@{
    ViewData["Title"] = "Inbox";
    var messageMaxLength = 100;
}

<h1>Inbox (@Model.UnreadMessageCount)</h1>

@foreach(var messageHead in Model.headMessages)
{
    <div>
        <h4>@messageHead.Title (@messageHead.SeekerOrLandListingId)</h4>
        <p>From: @messageHead.SenderName | Read: @messageHead.IsViewed | @messageHead.TimeStamp.LocalDateTime.ToString("d")</p>
        <p>@messageHead.Value.Substring(0, (@messageHead.Value.Length <messageMaxLength ? messageHead.Value.Length: messageMaxLength)) 
            @if(messageHead.Value.Length > messageMaxLength) 
            {
                      <span>...</span>
            }
        </p>
    </div>
}