@inject UserManager<UserEntity> userManager;
@model ViewMessageViewModel

@{
    ViewData["Title"] = "View Messages";
    var userId = new Guid(@userManager.GetUserId(User));
}

<h1>View Messages</h1>

<p>Message from @Model.OriginMessageSenderName</p>
<p>UserListingId: @Model.UserListingId</p>
@foreach(var message in Model.Messages)
{
    <div>
        <hr>
        <p>@message.Message</p>
        <p>@message.TimeStamp.Date</p>
    </div>
}


 <div>
      @await Component.InvokeAsync("ReplyMessage", new 
      { 
          SenderId =  userId,
          ReceiverId = @Model.OriginMessageSenderId,
          UserListingId = @Model.UserListingId, 
          OriginMessageId = @Model.OriginMessageId,           
      })
</div>

